@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
    background: url("background.jpg") no-repeat center center fixed; 
  background-size: cover;
    height: auto;
}

.container {
  position: relative;
    height: auto;
    overflow: hidden;
}

.contact input[type="text"],
.contact input[type="email"],
.contact input[type="tel"],
.contact input[type="url"],
#teamname input[type="text"],
#submit{
  font: 400 14px/18px "Roboto", Helvetica, Arial, sans-serif;
}

.contact {
      background: rgba(252,247,248,.8);
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

.contact input[type="text"],
.contact input[type="email"],
.contact input[type="tel"],
.contact input[type="url"],
#teamname input[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

.contact input[type="text"]:hover,
.contact input[type="email"]:hover,
.contact input[type="tel"]:hover,
.contact input[type="url"]:hover,
#teamname input[type="text"]:hover{
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}


#submit{
  position: relative;
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 auto 5px;
  padding: 10px;
  font-size: 20px;
  top: -100px;
  background-color: forestgreen;
}

#submit:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#submit:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


.contact input:focus,{
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
    #reg{
        text-align: center;
    }
    #reg li{
        list-style-type: none;
        width: 30%;
        float: left;
        padding-left: 6%;
    }
    header{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: floralwhite;
    text-align: center;
    font-size: 2em;
    left: 0px;
    padding-top: 20px;
    width: 100%;
    height: 80px;
    background: rgba(10,9,12,.4);
    transition: height 2s, font-size 2s, background-color 2s;
    }
    header:hover{
        font-size: 2.3em; 
        height: 90px;
        background-color:dodgerblue;
    }
    #teamname{
        position: relative;
        left: 33%;
        top: 100px;
        width: 30%;
        
    }
    #regForm{
        margin-top: -50px;
        height: auto;
        
    }
